<!-- Info Hero -->
<div class="grid grid-cols-6 gap-4 my-4 mx-scrn">
    <div class="md:h-[60vh] h-[50vh] md:col-span-4 col-span-full">
        <img src="{{page.main-image}}" class="object-cover w-full h-full">
    </div>  
    <div class="flex md:h-[60vh] col-span-full md:col-span-2 bg-secondary">
        <div class="self-center p-5p animate-in-right">
            <h4 class="pb-4 text-aqua editable">{{page.hero.top-line}}</h4>
            <h3 class="text-neutral editable">{{page.hero.heading}}</h3>
        </div>
    </div>
</div> 