---
layout: default
title: About

main-image: /assets/uploads/pricing.jpg
hero:
    top-line: Welcome to Indie!
    heading: Where the Soul Meets the Sea, In Ocean Beach
youtube_link: "https://www.youtube.com/embed/Ojge9ra4yKw?si?controls=0"

seo:
    description:
    keywords:
    social_image:
    hide-from-google: false
---
{% include hero.html case="info" %}

{% include cta.html action=3 color="bg-accent"%}

<!-- About Video -->
<div class="grid items-center gap-4 md:grid-cols-8 mx-scrn">     
    <div class="flex h-full md:col-span-3 bg-primary text-neutral scroll-in-left">
        <div class="self-center p-5p">
            <h3 class="editable">OB’s OG Hot Yoga Studio</h3>
            <p class="pb-4 editable">At Indie Yoga, you’re not stepping into a mere studio, but a home where every individual is cherished, every class is a collective journey, and every session brings you closer to your authentic self.</p>
            <ul class="pb-4 pl-3 list-disc">
                <li class="editable">We Welcome All Levels</li>
                <li class="editable">All Our Classes are Heated</li>
                <li class="editable">We Start and End Class on Time</li>
                <li class="editable">Our Studio Offers Mat Rentals and Shower Facilities</li>
            </ul>
            
            <a role="button" href="/schedule#walla-schedule" class="btn btn-accent">Sign Me Up!</a>
        </div>
    </div>

    <div class="md:col-span-5">
        <div class="md:mr-4 embed-container">
            <iframe width="560" height="315" src="{{page.youtube_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- Hero Map -->
{% include hero.html case="map" %}