---
layout: default
title: Class Descriptions
hero_heading: Class Descriptions
page-image: /assets/uploads/classes-hero.jpg
text-placement: mr-auto

seo:
    description:
    keywords:
    social_image:
    hide-from-google: false
---
{% include hero.html case="classes" %}

<div class="mx-scrn bg-success">
    <h3 class="pt-8 pb-4 text-center editable text-neutral animate-from-bottom">Class Info and FAQs</h3>

    <!-- Start Class_loop -->
    {% include class_loop.html %}
</div>

{% include cta.html action=4 color="bg-secondary" %}

<section class="text-center text-success mx-scrn">
    <h3>Things to Know</h3>
    <div class="px-4">
        {% include faq.html %}
    </div>
</section>