---
layout: default
title: Class Descriptions
page-image: /assets/uploads/classes-hero.jpg
text-placement: mr-auto
cta-color: bg-aqua
---
{% include hero.html case="full" %}

{% include cta.html action=5 %}

<div class=" mx-scrn">
    <!-- Start Class_loop -->
    {% include class_loop.html %}
</div>

{% include cta.html action=4 %}

<section class="text-center text-d-blue mx-scrn">
    <h3>Things to Know</h3>
    <div class="px-4">
        {% include faq.html %}
    </div>
</section>

{% include insta.html %}