---
layout: default
title: Class Descriptions
hero_heading: Class Descriptions
page-image: /assets/uploads/fl3a4757.jpg
text-placement: mr-auto
seo:
    description: >-
        Indie Yoga Ocean Beach offers a variety of heated Vinyasa yoga classes
        for all levels. Choose from beginner, hatha, hot yoga, yin, sound
        healing and more. Check the schedule and read class descriptions to find
        your perfect practice.
    keywords: >-
        vinyasa, heated classes, all levels, beginner vinyasa, surfer's flow,
        hatha, hot yoga, yoga sculpt, yin yoga, sound healing, schedule, class
        descriptions, Ocean Beach, OB
    social_image: /assets/uploads/indie-logo.png
    hide-from-google: false
---
{% include heroes/classes-hero.html %}

<div class="mx-scrn bg-success">
    <h3 class="pt-8 pb-4 text-center editable text-neutral animate-from-bottom">Class Info and FAQs</h3>

    <!-- Start Class_loop -->
    {% include class_loop.html %}
</div>

{% include cta.html action=4 color="bg-secondary" %}

<section class="text-center text-success mx-scrn">
    <h3>Things to Know</h3>
    <div class="px-4">
        {% include faq.html %}
    </div>
</section>