---
layout: default
title: Workshops & Events
main_image: assets/images/waffl-knot.png
text-placement: mr-auto
insta:
    heading: "Beyond the Mat: Connect with us on Instagram"
    i-1: assets/images/waffl-knot.png
    i-2: assets/images/waffl-knot.png
    i-3: assets/images/waffl-knot.png
    i-4: assets/images/waffl-knot.png
    i-5: assets/images/waffl-knot.png
---

{% include hero_page.html %}

{% include hero_workshops.html %}

<div class="my-4">
{% include cta-4.html %}
</div>

{% include insta.html %}

