---
layout: default
title: Homepage
home-image: assets/images/home_hero-2.jpg
cta-color: bg-yellow
main-image: /assets/uploads/about-indie.png
hero:
    heading: Where the Soul Meets the Sea, in Ocean Beach
    p1: >-
        Welcome to Indie Yoga, the first hot yoga studio of the Ocean Beach
        community in San Diego. Proud of our roots and committed to our mission,
        we offer a serene sanctuary amidst the vibrant buzz of the neighborhood.
    p2: >-
        Heat transforms — and in our hot yoga studio, it becomes an integral
        part of your journey. It intensifies each asana, elevates your practice,
        and amplifies the sense of calm and release.  At Indie Yoga, you're not
        stepping into a mere studio, but a home where every individual is
        cherished, every class is a collective journey, and every session brings
        you closer to your authentic self.
    color: bg-blue
    text_color: text-d-blue
    link: about
---
<!-- Home Hero w/ special responsiveness -->
<div class="grid gap-4 my-4 md:grid-cols-6 mx-scrn">
        
    <div class="flex order-2 max-md:hidden md:col-span-2 bg-blue">
        <div class="self-center p-5p text-d-blue">
            <h1 class="font-bold editable">Ride Life's Waves with Yoga's Flow</h1>
            <h4 class="editable">The Original Hot Yoga Studio in Ocean Beach</h4>
        </div>
    </div>

    <div class="max-md:hidden md:col-span-4 md:order-3">
        <img src="{{page.home-image}}">
    </div>

    <!-- for small screens -->
    <div class="block col-span-full bg-image md:hidden" style="background-image: url({{page.home-image}});"> 
        <div class="flex text-left page-overlay">
            <div class="self-center p-5p w-[70vw]">
                <h1 class="editable">Ride Life's Waves with Yoga's Flow</h1>
                <h4 class="editable">The Original Hot Yoga Studio in Ocean Beach</h4>
            </div>
        </div>
    </div>
</div>

{% include cta.html action=1 %}

<section>
    <div class="text-center mx-scrn text-d-blue">
        <h2 class="pb-4 font-bold md:pb-12 editable">Find Your Flow</h2>

        <!-- Creates a Loop though 'Indie-Info.yml' to create square links to the rest of the pages -->
        {% include service-squares_loop.html %}
    </div>
</section>

{% include cta.html action=4 %}

{% include hero.html case="main" %}

{% include hero.html case="testimonial" %}

<!-- Includes insta_post_loop.html that pulls and formats the images from social plugins -->
{% include insta.html %}