---
layout: default
title: Homepage
main-heading: OB's OG Hot Yoga Studio
sub-heading: You Are Not A Drop in the Ocean, You are the ocean in a Drop - Rumi
home-image: assets/images/home_hero-2.jpg
main-image: /assets/uploads/about-indie.png

about:
    heading: Where the Soul Meets the Sea, in Ocean Beach
    p1: >-
        Welcome to Indie Yoga, the first hot yoga studio of the Ocean Beach
        community in San Diego. Proud of our roots and committed to our mission,
        we offer a serene sanctuary amidst the vibrant buzz of the neighborhood.
    p2: >-
        Heat transforms — and in our hot yoga studio, it becomes an integral
        part of your journey. It intensifies each asana, elevates your practice,
        and amplifies the sense of calm and release.  At Indie Yoga, you're not
        stepping into a mere studio, but a home where every individual is
        cherished, every class is a collective journey, and every session brings
        you closer to your authentic self.
    link: about

seo:
    description:
    keywords:
    hide-from-google: false

---
<!-- Home Hero w/ special responsiveness -->
<div class="grid gap-4 my-4 md:grid-cols-6 mx-scrn md:min-h-[85vh]">
    
    <div class="flex order-2 max-md:hidden md:col-span-2 bg-primary ">
        <div class="self-center p-5p animate-in-left">
            <h1 class="font-bold capitalize text-neutral">{{page.main-heading}}</h1>
            <h4 class="capitalize text-aqua">{{page.sub-heading}}</h4>
        </div>
    </div>

    <div class="max-md:hidden md:col-span-4 md:order-3 animate-in-right">
        <img src="{{page.home-image}}" />
    </div>

    <!-- for small screens -->
    <div class="block col-span-full bg-image md:hidden h-[63vh]" style="background-image: url({{page.home-image}});"> 
        <div class="flex h-full text-left page-overlay">
            <div class="self-center p-5p w-[70vw] animate-in-left">
                <h1 class="capitalize text-neutral">{{page.main-heading}}</h1>
                <h4 class="capitalize text-aqua">{{page.sub-heading}}</h4>
            </div>
        </div>
    </div>
</div>

{% include cta.html action=1 color="bg-secondary"%}

<section class="py-8">
    <div class="text-center mx-scrn text-accent">
        <h2 class="pb-4 md:pb-12 editable">Find Your Flow</h2>

        <!-- Creates a Loop though 'Indie-Info.yml' to create square links to the rest of the pages -->
        {% include services_loop.html %}
    </div>
</section>

{% include cta.html action=4 color="bg-secondary" %}

{% include hero.html case="home" %}

{% include hero.html case="testimonial" %}