---
layout: default
title: Our People
hero:
    image: assets/images/waffl-knot.png
    heading: Meet the Team
    color: bg-yellow
    text_color: text-d-blue
insta:
    heading: "Beyond the Mat: Connect with us on Instagram"
    i-1: assets/images/waffl-knot.png
    i-2: assets/images/waffl-knot.png
    i-3: assets/images/waffl-knot.png
    i-4: assets/images/waffl-knot.png
    i-5: assets/images/waffl-knot.png
---

{% include hero.html %}

<section>
    {% include people_carousel.html %}
</section>

{% include insta.html %}