---
layout: default

title: Class Pricing & Packages
page-image: /assets/uploads/pricing-hero.jpg
text-placement: ml-auto

new-student:
  image: /assets/uploads/schedule-hero.jpg
  heading: 'New Student Special: One Month Unlimited'
  price: $39
  description_html: >-
    Come give us a try! We'd love to welcome you to Indie Yoga with the best offer you'll find to practice with us. Whether you're just starting your practice or you've search for a while, you've found your new home for yoga.
  walla_link: https://widget.hellowalla.com/packages/791?uuid=4e15c3e1-f4df-4597-95af-977aec2f077c

rockstar:
  image: /assets/uploads/pricing.jpg
  heading: 'Indie Rockstar: Studio Membership'
  price: $108
  description_html: |-
    Join the community with unlimited classes and amazing IndieCentives with discounts at other businesses in OB.
    <br> - First month is just $88
    <br> - Free towel rental
    <br> - One guest pass per month
    <br> - Minimum 2 month commitment
  walla_link: https://api.hellowalla.com/previews/763?b=34&type=package

packages:
- heading: "1 Month Unlimited"
  cost: $150
  description: Take as many classes as you want for 30 days.
  link: https://api.hellowalla.com/previews/790?b=34&type=package
- heading: "20 Class Samadhi Pack"
  cost: $325
  description: This 20 class pack is for anyone who wants to take yoga classes at the best rate outside our RockStar Autopay membership. We've set it up so you never have to worry about your credits expiring or running out. When you use all your classes it will repurchase another pack right when you sign-up for the next one.
  link: https://api.hellowalla.com/previews/789?b=34&type=package
- heading: "10 Class Card"
  cost: $195
  description: 10 classes to use for anything on the schedule
  link: https://api.hellowalla.com/previews/788?b=34&type=package

---
{% include hero.html case="pricing" %}

<!-- New Student Hero -->
<div id="new-student" class="grid grid-cols-6 gap-4 my-4 mx-scrn">
  <div class="flex md:col-span-2 col-span-full bg-primary">
      <div class="self-center p-5p text-neutral">
          <h3 class="text-aqua">{{page.new-student.price}}</h3>
          <h3>{{page.new-student.heading}}</h3>
          <p class="pb-4">{{page.new-student.description_html}}</p>
          <div class="btn btn-warning"><a href="{{page.new-student.walla_link}}">Buy Now</a></div>
      </div>
  </div>
  <div class="md:col-span-4 col-span-full scroll-in-from-right">
      <img src="{{page.new-student.image}}">
  </div>
</div>

<!-- Pricing Hero -->
<div class="grid grid-cols-6 gap-4 my-4 mx-scrn">
    <div class="md:col-span-4 col-span-full scroll-in-from-left">
        <img src="{{page.rockstar.image}}">
    </div>
    <div class="flex col-span-full md:col-span-2 bg-accent">
        <div class="self-center p-5p text-neutral">
            <h3 class="text-aqua">{{page.rockstar.price}}</h3>
            <h3>{{page.rockstar.heading}}</h3>
            <p class="pb-4">{{page.rockstar.description_html}}</p>
            <a href="{{page.rockstar.walla_link}}" class="btn btn-warning">Buy Now</a>
        </div>
    </div>
</div>

{% include cta.html action=2 color="bg-secondary" %}

<!-- Pulls data from package collection -->
<div class="grid gap-4 my-4 md:grid-cols-7 mx-scrn">
  {% for item in page.packages %}
  <div class="{% cycle 'md:col-span-2 bg-primary','md:col-span-3 bg-success scroll-in-from-bottom' %} text-neutral flex">
      <div class="self-center p-5p">
          <h3 class="text-aqua">{{item.cost}}</h3>
          <h3>{{item.heading}}</h3>
          <p class="pb-4">{{item.description}}</p>
          <a class="btn btn-warning" href="{{item.link}}">Buy Now</a>
      </div>
  </div>
  {% endfor %}
</div>