---
layout: default
title: Class Pricing & Packages
page-image: /assets/uploads/pricing-hero.jpg
text-placement: ml-auto
main-image: /assets/uploads/schedule-hero.jpg
reverse-image: /assets/uploads/pricing.jpg

new-student:
  heading: 'New Student Special: One Month Unlimited'
  description: >-
    Come give us a try! We'd love to welcome you to Indie Yoga with the best offer you'll find to practice with us. Whether you're just starting your practice or you've search for a while, you've found your new home for yoga.
  price: $39
  walla_link-1: https://widget.hellowalla.com/packages/791?uuid=4e15c3e1-f4df-4597-95af-977aec2f077c

hero:
  color: bg-d-blue
  text_color: text-light
  price: $108
  heading: 'Indie Rockstar: Studio Membership'
  p1: |-
    Join the community with unlimited classes and amazing IndieCentives with discounts at other businesses in OB.
    <br>- First month is just $88
    <br>- Free towel rental
    <br>- One guest pass per month
    <br>- Minimum 2 month commitment
  walla_link-2: https://api.hellowalla.com/previews/763?b=34&type=package

cta-color: bg-aqua
---
{% include hero.html case="full" %}

<!-- New Student Hero -->
<div id="new-student" class="grid grid-cols-6 gap-4 my-4 mx-scrn">
  <div class="flex md:col-span-2 col-span-full bg-yellow">
      <div class="self-center p-5p text-d-blue">
          <h3 class="text-blue">{{page.new-student.price}}</h3>
          <h3 class="font-bold">{{page.new-student.heading}}</h3>
          <p class="pb-4">{{page.new-student.description}}</p>
          <div class="button bg-blue"><a href="{{page.new-student.walla_link-1}}">Buy Now</a></div>
      </div>
  </div>

  <div class="md:col-span-4 col-span-full">
      <img src="{{page.reverse-image}}">
  </div>
</div>

<!-- Pricing Hero -->
<div class="grid grid-cols-6 gap-4 my-4 mx-scrn">
    <div class="md:col-span-4 col-span-full">
        <img src="{{page.main-image}}">
    </div>
    <div class="flex col-span-full md:col-span-2 {{page.hero.color}}">
        <div class="self-center p-5p {{page.hero.text_color}}">
            <h3 class="text-yellow">{{page.hero.price}}</h3>
            <h3 class="font-bold">{{page.hero.heading}}</h3>
            <p class="pb-4">{{page.hero.p1}}</p>
            <a href="{{page.hero.walla_link-2}}" class="button">Buy Now</a>
        </div>
    </div>
</div>


{% include cta.html action=2 %}

<!-- Pulls data from package collection -->
{% include package_loop.html %}

{% include insta.html %}
