---
layout: default
title: Schedule
hero:
    image: assets/images/waffl-knot.png
    heading: Class Schedule
    p1: Sign up below or stop by in personal
    color: bg-d-blue
    text_color: text-yellow
insta:
    heading: "Beyond the Mat: Connect with us on Instagram"
    i-1: assets/images/waffl-knot.png
    i-2: assets/images/waffl-knot.png
    i-3: assets/images/waffl-knot.png
    i-4: assets/images/waffl-knot.png
    i-5: assets/images/waffl-knot.png
---

{% include hero.html %}

<div class="my-4">
    {% include cta-1.html %}
</div>

<div class="min-h-90 p-5p">
    <h1 class="text-d-blue">Walla Schedule<h1>
</div>

{% include insta.html %}