---
layout: default
title: Schedule
main-image: /assets/uploads/schedule-hero.jpg
hero:
    top-line: Class Schedule
    heading: Sign up below or stop by in person!
seo:
    description: >-
        View the weekly schedule of heated Vinyasa yoga classes at Indie Yoga
        Ocean Beach. All levels welcome to attend beginner, hatha, hot yoga, yin
        and more. Try your first month for just $39.
    keywords: >-
        schedule, class schedule, yoga schedule, Ocean Beach, OB, heated
        Vinyasa, all levels, beginner, hatha, hot yoga, yin, first month $39
    social_image: /assets/uploads/indie-logo.png
    hide-from-google: false
---
{% include heroes/schedule-hero.html %}

{% include cta.html action=1 color="bg-secondary" %}

<section id="walla-schedule">
    {% include walla_widget.html case="schedule" %}
</section>