
/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Default Styles --------- */
@layer base {
    html, body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    body {
        @apply font-body bg-light text-light;
    }

    section {
        @apply p-5p;
    }

    h1, h2, h3, h4 {
        @apply pb-4 font-sans;
    }

    h1 {
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h2 {
        font-size: 55px;
    } 
    
    h3 {
        font-size: 2.8125rem;
        font-weight: 400;
    }

    h4 {
        @apply text-4xl font-body;
    }
    
    h5 {
        @apply pb-4 font-sans;
        font-size: 1.6rem;
        line-height: normal;
    }

    footer h5 {
        @apply text-aqua;
        font-weight: 700;
    }

    header a  {
        @apply font-bold text-d-blue hover:text-aqua;
    }

    footer nav a  {
        @apply block py-2 hover:text-aqua;
    }

    .social-row_item {
        @apply inline-block py-2 pr-2 stroke-light hover:stroke-aqua;
    }
}

/* ----------- ADDITIONAL COMPONENTS  --------- */
@layer components {
    .button {
        @apply inline-block px-4 py-3 font-bold border bg-yellow text-d-blue border-yellow;
    }
    .button:hover {
        @apply bg-d-blue text-yellow;
    }
    .button-d {
        @apply inline-block px-4 py-3 font-bold border bg-d-blue text-yellow border-d-blue;
    }
    .button-d:hover {
        @apply  bg-yellow text-d-blue;
    }
    .button:active, .button-d:active{
        @apply text-aqua;
    }

    .services-overlay {
        position: relative;
        background-color: rgba(190, 190, 190, 0.7);
    }
    .page-overlay {
        position: relative;
        background-color: rgba(25, 25, 25, 0.4);
    }

    /* Slider */
    .testimonial-slider-container {
        max-width: 900px;
        margin: auto;
    }

    .slider-item {
        padding: 1rem;
        display: none;
    }

    .author {
        @apply pt-2 italic text-right;
    }

    .slider-item:first-child {
        display: block;
    }

    /* Controls the slick slider arrow positions */
    .slick-next {
        right: 10px;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next::before, .logo-slider .slick-prev::before {
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        opacity: .75;
    }
            /*------------ !!!CURRENT BUG WITH TAILWIND FOR STYLE ORDER OF APPLICATION!!!!  ------------*/
    .slick-dots {
        left: 0;
        bottom: 10px;
        /*  Without this the padding on the parent affects the centering of the dots. Do not delete.    */
    }

    .slick-dots li,
    .slick-dots li button {
        width: 10px;
    }

    .slick-dots li button::before {
        color: rgb(47, 223, 20);
    }

    .slick-dots li.slick-active button::before {
        color: rgb(90,90,90);
    }

    @media(max-width: 36em){
        .slider-item p { font-size: 1.1rem;}
    }

    /* Find Us Info Style */
    .find-us_info span {
        @apply block py-2;
    }
    .find-us_info a:hover {
        @apply text-aqua;
    }

    /* Show More Toggle */
    
    .show-toggle .show-toggle-btn {
        font-weight: 500;
        border: 0;
        background: transparent;
        cursor: pointer;
        padding: 0;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

@layer utilities {
    .mx-scrn {
        @apply mx-auto max-w-screen-2xl;
    }
    
    .bg-image {
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
    }
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    
    .embed-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}