---
layout: default
title: Yoga Teacher Training 2025
subtitle: 'Turn your Practice into Purpose '
ytt-signup_link: https://api.hellowalla.com/previews/41983?b=34&type=enrollment
ytt-signup_button: Register Now
banner_text: >-
    Whether you’re dreaming of becoming a yoga teacher or seeking to deepen your
    practice, our 200 Hour Yoga Teacher Training is the next step in your yoga
    journey. Over 13 weeks, you’ll gain the skills to confidently lead a Vinyasa
    class and have the opportunity to grow your personal practice within your
    own yoga community. This is more than just training — it’s a chance to open
    your heart, study the self and discover a stronger connection to your
    practice. 
about-tt: >-
    Designed to transform your practice and prepare you to lead impactful
    Vinyasa classes, Indie Yoga’s 200 Hour Yoga Teacher Training offers a rich
    blend of tradition, modern methodology and real-world teaching tools — all
    in the heart of your own vibrant studio community. This Yoga
    Alliance-certified program comes with a three-month membership at Indie
    Yoga, offering you unlimited access to classes during your training.
about-tt_youll-learn:
    - >-
        How to build a strong personal practice — and teach from an authentic
        place.
    - Intelligent class sequencing that’s creative, safe and inspiring.
    - Yoga philosophy and history, and why it still matters today.
    - Meditation and breath work techniques you can integrate into daily life.
    - An introduction to Hatha and Yin yoga.
    - Self-reflective journaling, shadow work and personal inquiry.
    - >-
        The foundations of the business of yoga. • Community-building
        activities, including a service project.
    - Guest lectures from teachers who bring fresh perspective and depth.
teacher-1:
    name: Dani Coleman
    image: /assets/uploads/dani-coleman.jpg
    bio: >-
        Known for her unique ability to blend structured alignment with
        intuitive, somatic-based movement, Dani is a respected and
        well-established yoga instructor based in San Diego. A 500-hour
        Registered Yoga Teacher, Dani specializes in both Vinyasa and Yin,
        offering her students a dynamic and deeply reflective approach to
        practice. Her journey has taken her to the foothills of the Himalayas,
        where she studied the Himalayan tradition of yoga and was formally
        initiated into its meditation and kriya lineage. This experience
        continues to inform the transformational depth and authenticity she
        brings to each offering. Dani’s teaching is rooted in feminine
        embodiment, nervous system attunement and the healing potential of
        mindful movement. She is passionate about guiding students into
        practices that promote self-inquiry, empowerment and integration —both
        on and off the mat. Outside of her professional pursuits, Dani enjoys
        sourcing and selling second-hand fashion, dancing freely at local events
        and immersing herself in the natural world — continually inspired by
        beauty, movement and meaning.
teacher-2:
    name: Sara Levy
    image: /assets/uploads/sarah-levy.jpg
    bio: >-
        Sara Levy is a San Diego-based yoga teacher with over 500 hours of
        training and a deep devotion to the practice. With a background in
        dance, she was first drawn to yoga through its physical discipline — but
        soon discovered its power as a spiritual and emotional anchor. Her
        classes are a natural extension of that journey — where structure holds
        space for softness, and movement becomes a gateway to stillness. Rooted
        in both the Ashtanga and Hatha lineages, Sara’s teaching blends form and
        flow, encouraging students to slow down and move with intention. She’s
        known for her steady pacing and clear, insightful cueing, which allow
        students to hold postures longer and embody the essence of each shape
        with breath and awareness. Her most recent training in India further
        deepened her commitment to the yogic path and sparked a newfound love
        for kriya, mantra and pranayama practices. Yoga has taken Sara across
        the world, but it continues to lead her inward—fueling both her personal
        evolution and her devotion to teaching. While working full-time as a
        speech-language pathologist, Sara still manages to teach four classes a
        week—an offering that reflects her deep love for yoga and the way it
        continues to shape her life from the inside out.
page_image: /assets/uploads/2346f8ce-fe74-46f3-8d14-3f0636d7c045-2.jpg
about-tt_image: /assets/uploads/ed3cd22c-1182-4784-90eb-ee8bba40f7e2.jpg
seo:
    description: >-
        Immersive 200-hour yoga teacher training in Ocean Beach, San Diego. Join
        our Yoga Alliance approved program led by expert teachers over 13 weeks.
        Transform your personal practice and emerge certified to teach.
    keywords: >-
        teacher training, yoga teacher training, 200-hour, Yoga Alliance,
        certified teachers, Ocean Beach, OB
    social_image: /assets/uploads/indie-logo.png
    hide-from-google: false
---
<div class="col-span-full mt-4 text-center mx-scrn text-neutral bg-image" style="background-image: url({{page.page_image}});">
    <div class="flex page-overlay md:h-[60vh] h-[50vh] justify-center">
        <div class="self-center p-4 my-4 animate-from-bottom">
            <h2 class="py-4">{{ page.title }}</h2>
            <h4>{{ page.subtitle }}</h4>
            <a href="{{page.ytt-signup_link}}"><div class="btn btn-accent">{{ page.ytt-signup_button }}</div></a>
        </div>
    </div>
</div>

<div class="p-8 my-4 text-center bg-accent mx-scrn">
    <h5 class="pb-0 text-neutral">{{ page.banner_text }}</h5>
</div>

<div class="grid gap-4 items-center md:grid-cols-8 mx-scrn">     
    <div class="flex h-full md:col-span-3 bg-primary text-neutral scroll-in-left">
        <div class="self-center p-5p">
            <h3 class="text-aqua">About the Training</h3>
            <p class="pb-4">{{ page.about-tt }}</p>
            <p class="font-bold">You'll Learn:</p>
            <ul class="pb-4 pl-3 list-disc">
                {% for item in page.about-tt_youll-learn %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
            
            <a href="{{page.ytt-signup_link}}"><div class="btn btn-warning">{{ page.ytt-signup_button }}</div></a>
        </div>
    </div>

    <div class="col-span-full h-full md:col-span-5 bg-image scroll-in-right" style="background-image: url({{page.about-tt_image}});">
    </div>
</div>

<!-- Your Guides -->
<section class="my-4 text-center bg-secondary text-neutral mx-scrn">
    <h2>Your Guides</h2>
    <!-- Side By Side Teacher Grid -->
    <div class="grid md:grid-cols-2">
        <div class="p-4 h-min">
            <div class="flex justify-center m-6 scroll-in-left">
                <img class="aspect-square w-[40vh] " src="{{page.teacher-1.image}}" />
            </div>
            <h4 class="editable">
                {{ page.teacher-1.name }}
            </h4>
            <p class="editable">
                {{ page.teacher-1.bio }}
            </p>
        </div>
        <div class="p-4 h-min">
            <div class="flex justify-center m-6 scroll-in-right">
                <img class="aspect-square w-[40vh]" src="{{page.teacher-2.image}}" />
            </div>
            <h4 class="editable">
                {{ page.teacher-2.name }}
            </h4>
            <p class="editable">
                {{ page.teacher-2.bio }}
            </p>
        </div>
    </div>
</section>

<!-- Student Testimonial -->
<section class="bg-accent mx-scrn text-neutral">
    <div class="scroll-in-from-bottom">
        <h4 class="text-center editable">What Our Students Say</h4>
        <div class="testimonial-slider-container">
            {% for item in site.data.testimonials.from-ytt %}
            <div class="slider-item"> 
                <p> {{item.review}} </p>
                <p class="author">- {{item.student}} </p>  
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Special YTT Info Section -->
<div class="grid gap-4 my-4 md:grid-cols-7 mx-scrn text-neutral">

    <!-- Col 1 -->
    <div class="flex md:col-span-2 bg-secondary scroll-in-left">
        <div class="self-center p-10p">
            <h3>{{site.data.teacher-training.schedule.heading}}</h3>
            <p class="pb-4"><span class="font-bold editable">Duration:</span> {{site.data.teacher-training.schedule.duration}}</p>
            <p class="pb-4"><span class="font-bold editable">Weekly In-Person Sessions on:</span> {{site.data.teacher-training.schedule.time-table}}</p>
        </div>
    </div>

    <!-- Col 2 -->
    <div class="flex md:col-span-3 bg-success scroll-in-from-bottom">
        <div class="self-center text-center p-10p text-light">
            <h3>{{site.data.teacher-training.tuition.heading}}</h3>
            <h3 class="text-aqua">{{site.data.teacher-training.tuition.pricing-t2}}</h3>
            <p class="pb-4">{{site.data.teacher-training.tuition.info}}</p>
            <p class="pb-4"><span class="font-bold">Tier 1 pricing:</span> {{site.data.teacher-training.tuition.pricing-t1}}</p>
            <p class="pb-4"><span class="font-bold">Tier 2 pricing:</span> {{site.data.teacher-training.tuition.pricing-t2}}</p>
            <p class="pb-4">{{site.data.teacher-training.tuition.help}}</p>
            <a class="btn btn-warning" href={{page.ytt-signup_link}}>{{ page.ytt-signup_button }}</a>
        </div>
    </div>

    <!-- Col 3 -->
    <div class="flex md:col-span-2 bg-secondary scroll-in-right">
        <div class="self-center p-10p">
            <h3>{{site.data.teacher-training.location.heading}}</h3>
            <p class="pb-4">{{site.data.teacher-training.location.info}}</p>
            <!-- <p class="pb-4">{{site.data.teacher-training.schedule.time-table}}</p> -->
        </div>
    </div>

</div>

<!-- Pulls Items from FAQs.yml -->
<section class="mx-scrn">
    <h3 class="text-center text-success">What's Included</h3>

    <div class="mx-1 text-aqua">
        <div x-data="{ selected: null }">
            {% for item in site.data.teacher-training.whats-included %}
                <div class="relative text-left scroll-in-from-left">
                    <button type="button" class="block pt-6 w-full" @click="selected !== {{ forloop.index }} ? selected = {{ forloop.index }} : selected = null">
                        <div class="flex text-left {% if item.description %}items-center justify-between{% endif %} px-4 bg-success">
                            <h5 class="py-2">{{ item.feature }}</h5>
                            <div class="pr-8 ml-auto w-6">

                <!-- only create accordian IF the feature has a description -->
                {% if item.description %}
                                <svg width="24px" stroke-width="1.5" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#bbfbfd"><path d="M6 9l6 6 6-6" stroke="#bbfbfd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" /></svg></div>
                        </div>
                    </button>

                    <div class="overflow-hidden relative max-h-0 transition-all duration-700" x-ref="container{{ forloop.index }}" x-bind:style="selected == {{ forloop.index }} ? 'max-height: ' + $refs.container{{ forloop.index }}.scrollHeight + 'px' : ''">
                        <div class="bg-success text-aqua">
                            <p class="py-4">{{ item.description }}</p>
                        </div>
                    </div>
                {% else %}
                <!-- else - close the div -->
                        </div>
                    
                {% endif %}

                </div>
            {% endfor %}
        </div>
    
</section>