<!-- 
    Pulls all the class info and images from site.data.indie-info
-->
{% for class in site.data.indie-info.classes %}
<div class="relative flex p-6 {% cycle '', 'flex-row-reverse' %}">
    <div class="w-[60vw] bg-image aspect-[3/2]" style="background-image: url({{class.image}});"></div>
    <div class="absolute z-10 p-4 top-24 text-d-blue w-[40vw] {% cycle 'right-6 bg-yellow', 'left-6 bg-blue' %}">
        <h3>{{class.title}}</h3>

        <!-- Fancy Apline to use a show more toggle -->
        <p
            class="show-toggle"
            x-data="{ show: false, maxLength: 230, text: '', content: '' }"
            x-init="text = $el.firstElementChild.textContent.trim(); content = text.slice(0, maxLength)" 
            >
            <span x-text="show ? text : content">{{class.description}}</span>
            <button
                class="show-toggle-btn"
                @click="show = !show"
                x-show="text.length > maxLength"
                x-text="show ? 'show less' : '...read more'"
            ></button>
        </p>
    </div>
</div>
{% endfor %}
