<!-- Class_Loop --
    -pulls info and images from site.data.indie-info -->
{% for class in site.data.indie-info.classes %}
<div class="relative flex py-4 {% cycle '', 'flex-row-reverse' %}">
    <div class="w-[60vw] bg-image aspect-[3/2]" style="background-image: url({{class.image}});"></div>
    <div class="sm:absolute max-md:inset-x-14 p-4 top-24 md:w-[40vw] w-[82vw] z-10 {% cycle 'md:right-6 bg-base-100 text-success', 'md:left-6 bg-secondary text-neutral' %}">
        
        <h3 class="leading-[3.64rem] line-clamp-1">{{class.title}}</h3>

        <!-- Fancy Apline to use a show more toggle -->
        <p
            class="show-toggle"
            x-data="{ show: false, maxLength: 145, text: '', content: '' }"
            x-init="text = $el.firstElementChild.textContent.trim(); content = text.slice(0, maxLength)" 
            >
            <span x-text="show ? text : content" class="">{{class.description}}</span>
            <button
                class="show-toggle-btn"
                @click="show = !show"
                x-show="text.length > maxLength"
                x-text="show ? 'show less' : '...read more'"
            ></button>
        </p>
    </div>
</div>
{% endfor %}
