<div class="text-center {{page.cta-color}} mx-scrn my-4 p-8">

{% case include.action %}
{% when 1 %}
    <h3 class="pb-0 editable">New to our community? Join us for just $39!</h3>

{% when 2 %}
    <h3 class="editable text-d-blue">Don't Worry... There's More!</h3>
    <h5 class="editable text-d-blue">Not finding what you’re looking for? Check out our other package options available.</h5>

{% when 3 %}
    <h3 class="editable text-d-blue">Where the Soul Meets the Sea, In OB</h3>
    <h5 class="editable text-d-blue">Our mission is to provide a convenient Ocean Beach neighborhood refuge where students can dedicate well-earned time for themselves and discover their own amazing potential.</h5>

{% when 4 %}
    <h3 class="editable text-d-blue">Can't Join Us In-Person</h3>
    <h5 class="editable text-d-blue">Check out our free online courses available on YouTube!</h5>

{% endcase %}
</div>