<!-- Daisy UI Header Nav -->
<div class="navbar">
    <div class="flex-1">
      <a class="text-xl normal-case btn btn-ghost">Indie Yoga</a>
    </div>
    <div class="flex-none">
      <ul class="px-1 menu menu-horizontal">
        <li><a href="/about">About</a></li>
        <li><a href="/people">Our People</a></li>
        <li>
          <details>
            <summary>
              Classes
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/classes">Desciption</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>
              Workshops & Trainings
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/teachertraining">Teacher Training</a></li>
            </ul>
          </details>
        </li>
        <li>
          <a href="/schedule">
            <div class="ml-8 button">Schedule</div>
          </a>
        </li>
      </ul>
    </div>
</div>