<div class="grid grid-cols-6 gap-4 my-4 mx-scrn">
    
<!-- Hero that fits into a 6 Column grid -->
{% case {{include.case}} %}
    {% when "home" %}
    <!-- Home Hero -->
    <div class="md:col-span-4 col-span-full bg-image min-h-[60vh]" style="background-image: url({{page.main-image}});"></div> 
    <div class="flex col-span-full md:col-span-2 {{page.hero.color}}">
        <div class="self-center p-5p {{page.hero.text_color}}">
            <h3 class="font-bold">{{page.hero.heading}}</h3>
            
            <p class="pb-4">{{page.hero.p1}}</p>
            <p class="pb-4">{{page.hero.p2}}</p>
            
            <!-- Add a button if there is a 'link' in the front matter && overwrite 'Learn More' if there is text passed from include.button -->
            {% if page.hero.link %} 
            <a href="{{page.hero.link}}" class="button">{% if include.button %}{{include.button}}{%else%}Learn More{%endif%}</a>
            {% endif %}
        </div>
    </div>

    {% when "info" %}
    <!-- Info Hero -->
    <div class="md:h-[60vh] h-[50vh] md:col-span-4 col-span-full">
        <img src="{{page.main-image}}">
    </div>  
    <div class="flex md:h-[60vh] col-span-full md:col-span-2 {{page.hero.color}}">
        <div class="self-center p-5p">
            <h4 class="pb-4 {{page.hero.text_color-2}}">{{page.hero.p1}}</h4>

            <h3 class="{{page.hero.text_color}} font-bold">{{page.hero.heading}}</h3>
        </div>
    </div>

    {% when "full" %}
    <!-- Full Page Hero -->
    <div class="relative col-span-full bg-image" style="background-image: url({{page.page-image}});"> 
        <div class="flex page-overlay md:h-[60vh] h-[50vh]">
            <div class="flex basis-7/11 {{page.text-placement}} p-5p">
                <div class="self-center">
                    <h1 class="font-bold text-light">{{page.title}}</h1>
                </div>
            </div>
        </div>
    </div>

    {% when "pricing" %}
    <!-- Pricing Hero -->
    <div class="md:col-span-4 col-span-full">
        <img src="{{page.main-image}}">
    </div>
    <div class="flex col-span-full md:col-span-2 {{page.hero.color}}">
        <div class="self-center p-5p {{page.hero.text_color}}">
            <h3 class="text-yellow">{{page.hero.price}}</h3>
            <h3 class="font-bold">{{page.hero.heading}}</h3>
            <p class="pb-4">{{page.hero.p1}}</p>
            <a href="{{page.hero.walla_link-2}}" class="button">Buy Now</a>
        </div>
    </div>

    {% when "reverse" %}
    <!-- Reverse Hero -->
    <div class="flex md:col-span-2 col-span-full {{page.hero-r.color}}">
        <div class="self-center p-5p {{page.hero-r.text_color}}">
            <h3 class="text-blue">{{page.hero-r.price}}</h3>
            <h3 class="font-bold">{{page.hero-r.heading}}</h3>
            <p class="pb-4">{{page.hero-r.p1}}</p>
            <div class="button {{page.hero-r.button_color}}"><a href="{{page.hero-r.walla_link-1}}">Buy Now</a></div>
        </div>
    </div>

    <div class="md:col-span-4 col-span-full">
        <img src="{{page.reverse-image}}">
    </div>

    {% when "map" %}
    <!-- Map Hero -->
    <div class="order-1 md:col-span-4 col-span-full md:-order-1">
        {% include g_map.html %}
    </div>
    <div class="flex md:col-span-2 col-span-full bg-blue">
        <div class="self-center p-5p text-d-blue">
            <h3>Where to Find Us</h3>
            <p class="pb-4 max-lg:hidden editable">You will find our heated studio in the heart of ocean beach. We offer an inviting environment for all levels to grow and learn through yoga practice. Drop in to feed off the music, movement and energy that will surround you. </p>
            
            <div class="find-us_info">
                <a href="mailto:info@indieyogasd.com"><span><b>Email: </b>{{site.data.indie-info.email}}</span></a>
                <a href="tel:{{site.data.indie-info.phone}}"><span><b>Phone: </b>{{site.data.indie-info.phone}}</span></a>
                <a href="https://maps.google.com/maps?ll=32.746271,-117.251479&z=16&t=m&hl=en&gl=ID&mapclient=embed&cid=11254240054341428777"><span><b>Address: </b>{{site.data.indie-info.address}}</span></a>
            </div>
        </div>
    </div>
    
    {% when "testimonial" %}
    <!-- Testimonial Hero -->
    <div class="col-span-full md:col-span-4 bg-d-blue">
        <div class="self-center p-5p px-10p">
            {% include testimonial_slider.html %}
        </div>    
    </div>   
    <div class="col-span-full md:col-span-2 max-md:hidden">
        <div class="max-md:aspect-[3/2] md:h-full bg-image" style="background-image: url({{site.data.testimonials.image}});"></div>
    </div>

{% endcase %}
</div>
