<div class="grid grid-cols-6 gap-4 mt-4 mx-scrn"> 
    
    <div class="flex col-span-2 {{page.hero-r.color}}">
        <div class="self-center p-5p {{page.hero-r.text_color}}">
            <h3 class="text-light">{{page.hero-r.price}}</h3>

            <h3>{{page.hero-r.heading}}</h3>
            <p class="pb-4">{{page.hero-r.p1}}</p>
            
            <div class="button {{page.hero-r.button_color}}"><a href="{{page.hero.link}}">{{page.hero.button_text}}</a></div>
        </div>
    </div>

    <div class="col-span-4">
        <div class="h-full bg-image" style="background-image: url({{page.hero-r.image}});"></div>
    </div>
</div>