<div class="h-full aspect-square bg-image" style="background-image: url({{site.data.insta.i-1}});"></div>
<div class="h-full aspect-square bg-image" style="background-image: url({{site.data.insta.i-2}});"></div>
<div class="h-full aspect-square bg-image" style="background-image: url({{site.data.insta.i-5}});"></div>
<div class="h-full aspect-square bg-image" style="background-image: url({{site.data.insta.i-4}});"></div>
<div class="h-full aspect-square bg-image" style="background-image: url({{site.data.insta.i-3}});"></div>