<div class="text-center mx-scrn bg-gradient-to-b from-secondary from-50% to-base-100 via-base-100 via-50%">
    <div class="px-5p pb-5p ">

        <h3 class="w-full py-12 text-neutral editable">Beyond the Mat: Connect With Us On Instagram</h3>

        <!-- Curator.io Powered IG feed -->
        <div id="curator-feed-default-feed-layout" class="min-h-[230px]">
            <a href="https://curator.io" target="_blank" class="crt-logo crt-tag" id="disap">Powered by Curator.io</a>
        </div>
    </div>
</div>