<div class="text-center mx-scrn bg-gradient-to-b from-secondary from-50% to-base-100 via-base-100 via-50%">
    <div class="px-5p pb-5p ">

        <h3 class="w-full py-12 text-neutral editable">Beyond the Mat: Connect With Us On Instagram</h3>

        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/78a56db740b05554bf8bdecc374d262f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</div>