    <div class="p-4 pb-16 mx-4 space-x-4 max-w-[96.5vw] bg-primary carousel carousel-center rounded-box">
        {% for people in site.data.teachers %}
        <div class="grid content-start w-[14rem] carousel-item bg-success" id="item{{forloop.index}}">

            {% if {{people.quote}} %}
                <div class="hover-container bg-image aspect-square" style="background-image: url({{people.image}});">
                    <div class="hover-overlay">
                        <div class="p-4 text-center hover-inner">
                            <p>{{people.quote}}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="bg-image aspect-square" style="background-image: url({{people.image}});"></div>
            {% endif %}

            <div class="p-4 bg-success">
                
                <div>
                    <h4 class="inline pb-0 text-aqua">{{people.name}}</h4>
                    
                    {% if {{people.social}} %}
                    <!-- Instagram icon appears if teachers have a ig name listed-->
                    <a class="social-people_item" href="https://www.instagram.com/{{people.social}}">
                        <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 2 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="inline">
                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z" stroke-width="1.5"></path>
                            <path d="M17.5 6.51l.01-.011" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                    {% endif %}
                </div>
    
                <!-- Fancy Apline to use a show more toggle -->
                <p
                    class="pt-2 show-toggle text-neutral"
                    x-data="{ show: false, maxLength: 150, text: '', content: '' }"
                    x-init="text = $el.firstElementChild.textContent.trim(); content = text.slice(0, maxLength)" 
                    >
                    <span x-text="show ? text : content">{{people.bio}}</span>
                    <button
                        class="show-toggle-btn text-aqua"
                        @click="show = !show"
                        x-show="text.length > maxLength"
                        x-text="show ? ' show less' : ' ...read more'"
                    ></button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Nav Section with a sprinkle of JS -->
    <div class="relative -top-12 flex justify-center w-full gap-2 py-2 bg-primary rounded-box mx-4 space-x-4 max-w-[96.5vw]">
    
        <button onclick="goPrev()" class="mx-1 btn btn-xs" id="js-arrow_l"><</button>
    
        <a href="/teachers" class="underline text-neutral">All Teachers</a>
    
        <button onclick="goNext()" class="mx-1 btn btn-xs" id="js-arrow_r">></button>
    
    </div>

    <script src="carousel.js"></script>