<!-- services loop for Services -->
<div class="grid gap-4 lg:grid-cols-3">
    {% for item in site.data.services %}
    <div class="mx-8 md:mx-40 sm:mx-28 bg-image aspect-square lg:mx-0 lg:min-h-[305px] scroll-in-from-bottom" style="background-image: url({{item.image}});">
        <div class="grid gap-4 px-8 text-center sm:m-8 grid-col services-overlay p-5p aspect-square">
            <div class="self-end">
                <h3 class="line-clamp-1">{{item.title}}</h3>
                <p class="md:text-lg line-clamp-4">{{item.description}}</p>
            </div>
            <div class="self-start mx-auto mt-4 w-32 btn btn-accent"><a href={{item.link}}>Learn More</a></div>
        </div>
    </div>
    {% endfor %}
</div>