<div class="grid gap-4 lg:grid-cols-3">
    {% for item in site.data.indie-info.services %}
    <div class="mx-8 md:mx-40 sm:mx-28 bg-image aspect-square lg:mx-0" style="background-image: url({{item.image}});">
        <div class="grid gap-4 px-8 text-center sm:m-8 grid-col services-overlay p-5p aspect-square">
            <div class="self-end">
                <h3 class="text-xl font-bold line-clamp-1 md:text-2xl">{{item.title}}</h3>
                <p class="text-base text-d-blue md:text-lg">{{item.description}}</p>
            </div>
            <div class="self-start w-32 mx-auto mt-4 button"><a href={{item.link}}>Learn More</a></div>
        </div>
    </div>
    {% endfor %}
</div>