<header class="flex text-center p-5p mx-scrn">
    <div class="basis-1/5 text-d-blue">
        <h1><a href="/">INDIE YOGA</a></h1>
    </div>

    <nav class="self-center text-right basis-4/5">
        <a class="px-2" href="#">About</a>
        <a class="px-2" href="#">Our People</a>
        <a class="px-2" href="#">Classes</a>
        <a class="px-2" href="#"><span>Workshops & Trainings</span></a>
        <div class="button">
            <a href="#">Schedule</a>
        </div>
    </nav>
</header>