<header class="flex text-center p-5p mx-scrn">
    <div class="basis-1/5 text-d-blue">
        <h1><a href="/">INDIE YOGA</a></h1>
    </div>

    <nav class="self-center text-right basis-4/5">
        <a class="px-2" href="/about">About</a>
        <a class="px-2" href="/people">Our People</a>

        <!-- Apline Dropdown to for Classes -->
        <div x-data="{ open: false }" class="relative inline-block text-center" @mouseleave="open = false">
            <div @mouseover="open = true" class="px-2 pb-2">
                <a href="/classes">Classes</a>
            </div>
            <div x-show="open" class="absolute pt-2 left-2 top-6">
                <a href="/pricing" class="block p-2 hover:text-yellow bg-blue hover:bg-d-blue">
                    Pricing
                </a>
            </div>
        </div>

        <!-- Apline Dropdown to for Enrollments -->
        <div x-data="{ open: false }" class="relative inline-block text-center" @mouseleave="open = false">
            <div @mouseover="open = true" class="px-2 pb-2">
                <a href="/enrollments">Workshops & Trainings</a>
            </div>
            <div x-show="open" class="absolute pt-2 left-2 top-6">
                <a href="/teachertraining" class="block p-2 hover:text-yellow bg-blue hover:bg-d-blue">
                    Teacher Training
                </a>
            </div>
        </div>
        
        <a href="/schedule">
            <div class="button">Schedule</div>
        </a>

    </nav>
</header>
