<footer class="p-4 text-info bg-primary">
  <div class="grid-cols-4 mx-scrn md:grid text-neutral">
    
    <!-- Col 1 -->
    <div class="px-4 py-2">
      <a href="/"><div class="aspect-[4/1] bg-image mr-12 -ml-1" style="background-image: url(assets/images/indie_logo_text-w.png);"></div></a>
      <p>You will find our heated studio in the heart of ocean beach. We offer an inviting environment for all levels to grow and learn through yoga practice. Drop in to feed off the music, movement and energy that will surround you.</p>
    </div>

    <!-- COL 2 -->
    <div class="px-4 py-2">
      <h5>Visit Us</h5>
      <p class="py-2">{{site.data.indie-info.address}}</p>
      <a class="inline-block pb-2 hover:text-aqua" href="mailto:info@indieyogasd.com">{{site.data.indie-info.email}}</a>
      
      <!-- Row of Icons from Font Noir -->
      <div>
        <!-- Facebook -->
        <a class="social-row_item" href="https://www.facebook.com/IndieYoga">
            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
    
        <!-- Instagram -->
        <a class="social-row_item" href="https://www.instagram.com/indieyogaob/">
            <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z" stroke-width="1.5"></path><path d="M17.5 6.51l.01-.011" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
    
        <!-- Yelp -->
        <a class="social-row_item" href="http://www.yelp.com/biz/indie-yoga-san-diego">
            <svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M11.5 11l-.458-8.24a.6.6 0 00-.771-.541L6.814 3.256a.6.6 0 00-.311.93L11.5 11zM14 12.5l4.57-.83a.6.6 0 00.38-.94l-1.445-2.023a.6.6 0 00-.987.016L14 12.5zM14.5 16l2.066 4.132a.6.6 0 001.017.091l1.835-2.446a.6.6 0 00-.373-.95L14.5 16zM11.5 16.5l-3.341 3.341a.6.6 0 00.213.986l2.317.869a.6.6 0 00.811-.562V16.5zM9.5 14l-4.132-2.066a.6.6 0 00-.868.537v2.643a.6.6 0 00.823.557L9.5 14z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>

        <!-- YouTube -->
        <a class="social-row_item" href="https://www.youtube.com/@indieyogasd">
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="none" stroke-width="1.5" viewBox="0 0 24 24" color="#000000"><path stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="m14 12-3.5 2v-4l3.5 2Z"></path><path stroke-width="1.5" d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708Z"></path></svg></a>
        </div>
    </div>
    <!-- COL 3 -->
    <div class="px-4 py-2">
      <h5>Quick Links</h5>
      <nav>
        <a href="/about.html">About</a>
        <a href="/classes.html">Classes</a>
        <a href="/trainings.html">Workshops</a>
        <a href="/teachertraining.html">Yoga Teacher Training</a>
        <a href="/schedule.html">Schedule</a>
      </nav>
    </div>

    <!-- COL 4 -->
    <div class="px-4 py-2">
      <h5>Stay Updated</h5>
      
      {% include email_form.html %}
    </div>
  </div>

  <!-- Attribution -->
  <div class="text-center opacity-50 col-span-full text-light">
      <p>© 2023 Indie Yoga - Site by <a href="https://viasana.co" class="underline hover:text-aqua">ViaSana.co</a></p>
  </div>
</footer>