<header class="px-4 pt-4 mx-scrn">
    <div class="flex w-full max-md:hidden">
        <div>
            <a href="/"><img class="max-h-24" src="assets/images/Indie_logo-long.png"></img></a>
        </div>

        <nav class="self-center w-full text-right">
            <a class="px-4" href="/about">About</a>
            <a class="px-4 max-lg:hidden" href="/people">Our People</a>

            <!-- Apline Dropdown to for Classes -->
            <div x-data="{ open: false }" class="relative inline-block text-center" @mouseleave="open = false">
                <div @mouseover="open = true" class="px-4 pb-2">
                    <a href="/classes">Classes</a>
                </div>
                <div x-show="open" class="absolute pt-2 left-5 top-6">
                    <a href="/pricing" class="block p-2 text-left bg-light">
                        Pricing
                    </a>
                    <a href="/classes" class="block p-2 text-left bg-light">
                        Descriptions
                    </a>
                </div>
            </div>

            <!-- Apline Dropdown to for Enrollments -->
            <div x-data="{ open: false }" class="relative inline-block text-center" @mouseleave="open = false">
                <div @mouseover="open = true" class="px-4 pb-2">
                    <a href="/trainings">Workshops<span class="max-lg:hidden"> & Trainings</span></a>
                </div>
                <div x-show="open" class="absolute pt-2 left-5 top-6">
                    <a href="/teachertraining" class="block p-2 text-left bg-light">
                        Teacher Training
                    </a>
                </div>
            </div>
            
            <a href="/schedule">
                <div class="ml-4 button">Schedule</div>
            </a>
        </nav>
    </div>

    <!-- This with max-md:hidden on the above div handles the menu + .hamburger-button, .mobile-menu + JS() in main.js -->
    <div class="flex w-full md:hidden">
        <div>
            <a href="/"><img class="max-h-32" src="assets/images/Indie_logo-long.png"></img></a>
        </div>
        <div class="flex items-center justify-end w-full">
            <div class="relative mr-4 space-y-2 hamburger-button">
                <!-- The Hamburger -->
                <div class="w-8 h-0.5 bg-aqua"></div>
                <div class="w-8 h-0.5 bg-aqua"></div>
                <div class="w-8 h-0.5 bg-aqua"></div>
                
                <div class="shadow-lg mobile-menu">
                    <div class="-mt-4 -mr-2 text-right text-aqua">X</div> 
                    <nav class="text-left">
                        <a class="p-4" href="/about">About</a>
                        <a class="p-4 min-w-[86px]" href="/people">Our People</a>
                        <a class="p-4" href="/classes">Classes</a>
                        <a class="p-4 ml-2" href="/pricing"> Pricing</a>
                        <a class="p-4" href="/trainings">Workshops</a>
                        <a class="p-4 ml-2" href="/teachertraining"> Teacher Training</a>
                        <a class="p-4" href="/schedule">Schedule</a>
                    </nav> 
                </div>
            </div>
        </div>
    </div>
</header>

