<div class="grid grid-cols-6 gap-4 my-4 mx-scrn" style="{{include.style}}">
    <div class="col-span-4 bg-d-blue">
        <div class="w-full carousel">
            
            <div id="slide1" class="relative w-full carousel-item">
                <div class="w-full text-light px-10p p-5p">
                    <p>Awesome flow today. Started my day off just right. I appreciated the music today which included Lettuce, one of my favorite bands.</p>
                    <p class="author">Vinyasa 1</p>  
                </div>
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide4" class="btn btn-circle">❮</a> 
                    <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
            </div>

            <div id="slide2" class="relative w-full carousel-item">
                <div class="w-full text-light px-10p p-5p">
                    <p>I generally like a harder class but this class really helped calm my mind and help me relax which was really perfect for a Friday afternoon. I felt like my whole weekend was better.</p>
                    <p class="author">Vinyasa 2</p>  
                </div>
                
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide1" class="btn btn-circle">❮</a> 
                    <a href="#slide3" class="btn btn-circle">❯</a>
                </div>
            </div>

            <div id="slide3" class="relative w-full carousel-item">
                <div class="w-full text-light px-10p p-5p">
                    <p>Absolutely amazing. I’ve been teaching yoga for 8 years but I’ve never taken such an intuitive, mindful class that felt so boundless. [...] It felt fun, easy going, but definitely a great workout. Highly recommend if you want to try something different and new. Also let out a few giggles and even a cry at the end which felt like a big energetic release. Thank you!!! I cannot wait to come back and bring friends!</p>
                    <p class="author">Mixed Yoga Arts</p>  
                </div>
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide2" class="btn btn-circle">❮</a> 
                    <a href="#slide4" class="btn btn-circle">❯</a>
                </div>
            </div> 
        </div>
    </div>    
    <div class="col-span-2">
        <div class="pb-[66%] bg-image" style="background-image: url({{site.data.testimonials.image}});"></div>
    </div>
</div>   
